{% extends "hepsoftwareBase.html" %}
{% load url from future %}

{% block bodyheader %}
Manage {% if staff %} all {% else %} my {% endif %} {{ ents|length }} entries
{% endblock %}

{% block mainbody %}

<form style="margin:0px; display: inline-block;" action="/act/" method="post" id="controlform">    {% csrf_token %}
<input type="hidden" name="user" value="{{ full_name }}"/>
<input type="hidden" name="mytag" id="mytag_id"/>
<input type="hidden" name="action" id="action_id"/>
</form>

<script type="text/javascript">
function ControlAction(mytag,action)
{
document.getElementById("mytag_id").value=mytag;
document.getElementById("action_id").value=action;
document.getElementById("controlform").submit();
}
</script>


{% if ents %}
<p>
<table>
<tr><th rowspan=2> Entry <br> <font color=grey>tag</font> </th>
<th>Updated</th><th>Created</th><th> Owner </th> <th> State </th>
<tr><th colspan=10> <font color=blue> actions </font> </th>
</tr>
{% for ent in ents %}
<tr>
<td rowspan=2> <a href='/e/{{ ent.mytag }}'>{{ ent.name }}</a> <br> <font color=grey> {{ ent.mytag }} </font> </td>
<td> {{ ent.updated_at|date:"Y-m-d H:i" }} </td>
<td> {{ ent.created_at|date:"Y-m-d H:i" }} </td>
<td> {{ ent.owner|safe }} </td> 
<td> <span class="{{ ent.state }}">{{ ent.state }}</span> {% if ent.hidden %} &nbsp; <span class="hidden">hidden</span> {% endif %} </td>
</tr>

<tr><td colspan=20>
{% if ent.state != 'deleted' %}

{% if ent.state != 'locked' and ent.state != 'deleted' %}
<a href="javascript:{}" onclick="ControlAction('{{ ent.mytag }}','edit_from_db')">edit</a> &nbsp; 
{% endif %}

{% if ent.state == 'online' %}
<a href="javascript:{}" onclick="ControlAction('{{ ent.mytag }}','set_draft')">set_draft</a> &nbsp; 
{% endif %}

{% if ent.state == 'draft' %}
<a href="javascript:{}" onclick="ControlAction('{{ ent.mytag }}','set_online')">set_online</a> &nbsp;
{% endif %}

{% if ent.state == 'locked' %}
<a href="javascript:{}" onclick="ControlAction('{{ ent.mytag }}','unlock')">unlock</a>
{% else %}
<a href="javascript:{}" onclick="ControlAction('{{ ent.mytag }}','lock')">lock</a>
{% endif %} &nbsp; 

{% if ent.state != 'review' and ent.state != 'deleted' %}
<a href="javascript:{}" onclick="ControlAction('{{ ent.mytag }}','review')">review</a> &nbsp;
{% endif %}

{% if ent.hidden %}
<a href="javascript:{}" onclick="ControlAction('{{ ent.mytag }}','unhide')">unhide</a>
{% else %}
<a href="javascript:{}" onclick="ControlAction('{{ ent.mytag }}','hide')">hide</a>
{% endif %} &nbsp; 

{% if ent.state != 'locked' %}
<a href="javascript:{}" onclick="ControlAction('{{ ent.mytag }}','delete')">delete</a>
{% endif %}

{% else %}

<a href="javascript:{}" onclick="ControlAction('{{ ent.mytag }}','undelete')">undelete</a>

{% endif %}
 </td>
</tr>
{% endfor %}
</table>
</p>
{% endif %}

{% endblock %}
